* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
  /* border: 1px soldi white; */
}

.wrapper {
  height: 100vh;
  width: 100%;
}

.loginWrapper {
  /* height: 500px;
  width: 400px; */
  /* background-color: transparent; */
  /* box-shadow: 0px 0px 150px 33px rgba(72, 135, 202, 0.8); */
  animation: glow 10s linear infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 150px 33px rgba(72, 135, 202, 0.8);
  }
  25% {
    box-shadow: 0px 0px 150px 33px rgba(89, 72, 202, 0.8);
  }
  50% {
    box-shadow: 0px 0px 150px 33px rgba(72, 202, 111, 0.8);
  }
  75% {
    box-shadow: 0px 0px 150px 33px rgba(202, 128, 72, 0.8);
  }
  100% {
    box-shadow: 0px 0px 150px 33px rgba(202, 72, 193, 0.8);
  }
}

.title h3 {
  /* text-shadow: 5px 10px 20px rgba(72, 135, 202, 0.8); */
  padding: 5px 20px;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.title h3::before {
  content: "";
  background-image: linear-gradient(to right, black, blue, black);
  position: absolute;
  top: -130px;
  right: 0px;
  height: 200px;
  width: 80%;
  animation: spin 2s linear infinite;
}

.title h3::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Login";
  background-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 92%;
  width: 100%;
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

input {
  border: none;
  box-shadow: 0px 0px 30px 5px blue;
}

.p-10 {
  padding: 60px;
}

button {
  padding: 5px 30px;
  border: none;
  color: white;
  box-shadow: 0px 0px 10px 5px rgba(5, 126, 255, 0.8);
  border-radius: 20px;
  /* background-color: coral; */
}

button:hover {
  box-shadow: 0px 0px 30px 15px rgba(5, 126, 255, 0.8);
}
.password {
  position: relative;
  /* border: 1px solid white; */
}
#error {
  background-color: black;
  /* height: 150px; */
  width: 100%;
  position: absolute;
  box-shadow: 0px 0px 10px 2px gray;
  /* border: 1px solid white; */
  z-index: 2;
  padding: 10px;
  display: none;
  /* transition: 2s ease-in-out; */
}

#error::after {
  content: "";
  /* border: 1px solid white; */
  height: 20px;
  width: 20px;
  position: absolute;
  top: -10px;
  left: 12px;
  background-color: black;
  transform: rotate(45deg);
  /* border-left: 1px solid white; */
  /* border-top: 1px solid white; */
  box-shadow: -5px -5px 10px 0px gray;

  /* z-index: -1; */
  /* left: -20px; */
}

#error p {
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  color: red;
}

.fa-close {
  color: darkred;
  font-size: 10px;
  margin-right: 10px;
  /* display: block; */
  /* height: 10px; */
}
.fa-check {
  color: darkgreen;
  font-size: 10px;
  margin-right: 10px;
  display: none;
}
