* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel-wrapper {
  height: 100vh;
  width: 100%;
  /* border: 1px solid black; */
}

.carousel-items {
  height: 40%;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 2px gray;
  /* display: flex; */
  overflow: hidden;
  float: left;
  /* flex-shrink: 0; */
  /* flex-wrap: wrap; */
}

.carousel-item {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}
.carousel-item img {
  height: 100%;
  width: 100%;
}
